body {
    background-image: url('https://wallpapercave.com/wp/wp9103853.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif; /* Adding a fallback font */
}

.container {
    width: 50%;
    margin: 50px auto;
    text-align: center;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    color: red;
}
